* {
    margin: 0px;
    box-sizing: border-box;
    font-size: 11px;
}

html {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    height: 100vh;
    width: 30%;
    background: #EAEAEA;
    /*
    width: 45%;
    border: 1px solid black;
    */
}

input{
    border: 2px solid #CCC;
    border-radius: 3px;
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

h5 {
    color: #909090;
    font-size: 11px;
}

.wrapper {
    padding: 10px;
}

div {
    padding-top: 1px;
    padding-bottom: 7px;
}

.title {
    text-align: center;
    font-weight: 700;
}

.email input {
    width: 100%;
}

.name input {
    width: 100%;
}

.password input {
    width: 100%;
}

.passwordCheck input {
    width: 100%;
}

.phone {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
}

#phone1 {
    width: 18%;
}

#phone2 {
    width: 30%;
}

#phone3 {
    width: 30%;
}

.auth {
    display: flex;
    justify-content: space-between;
}

.timer {
    display: flex;
    justify-content: space-between;
}

.auth div {
    width: 30%;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.auth button {
    width: 70%;
}

.timer div {
    width: 30%;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.timer button {
    width: 70%;
}

.area select {
    width: 100%;
    height: 40px;
}

/*
.gender {
    text-align: center;
}
*/

.smsagree {
    text-align: center;
}

.emailagree {
    text-align: center;
}

.signUp button {
    width: 100%;
    cursor:pointer;
}

button{
    outline: none;
    background: #9d9d9d;
    color: #FFF;
    padding: 16px;
    display: block;
    width: 100%;
    border:none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    /*
    cursor: pointer;
    height: 30px;
    */
}

button:hover{
    box-shadow: 5px 5px 5px #CCC;
   }

.error{
    font-size: 1px;
    height: 20px;
    color:red;
    font-weight: 700;
}