<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>아주렌탈</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_request_detail.css') }}">
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container px-4">
        <img class="navbar-brand" style="width: 4%; height: 4%;" src="img/index.png"/>
        <a class="navbar-brand" href="#page-top">AJ렌탈</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" onclick="location.href='http://localhost:8080/'" >Home</a></li>
                <!--                <li class="nav-item dropdown">-->
                <!--                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>-->
                <!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                <!--                        <li><a class="dropdown-item" href="#!">All Products</a></li>-->
                <!--                        <li><hr class="dropdown-divider" /></li>-->
                <!--                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>-->
                <!--                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>-->
                <!--                    </ul>-->
                <!--                </li>-->
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <br/>
        <h1 class="fw-bolder">사용 환경에 특화 된 파렛트 렌탈 시스템</h1>
        <p class="lead">원하는 곳에 필요한 만큼, 대여부터 회수까지 빠르고 편리하게 제공합니다.</p>
        <form action="/predict" method=GET>
            <br/>
            <div>
            <p>기업 이름 입력 : <input class="ms-input-placeholder" type="text" name="user" id="USER">
                <input class="btn btn-lg btn-light" type="submit" formmethod="GET" value="결과보기">
            </p>
            </div>
        </form>
        <br/>
    </div>
</header>
<!-- Section-->
<section>
    <h2 style="width:fit-content; margin:auto; display:block;">AI 예측 통계</h2>
    <h3 style="width:fit-content; margin:auto; display:block;">{{ name }}</h3></p>
        {% if name %}
        <div style="text-align: center;"><img src="{{ url_for('static', filename=image_file_Quarter) }}"><img src="{{ url_for('static', filename=image_file_Yearly) }}"></div>
        <br/>
        <tr>
            <td><img src="{{ url_for('static', filename=image_file_Quarter_income) }}"></td>
            <td><img src="{{ url_for('static', filename=image_file_Yearly_income) }}"></td>
        </tr>    
        <br>
        {% endif %}</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">개인정보처리방침 | 고객센터</p></div>
    <br>
    <div class="container"><p class="m-0 text-center text-white">05836 서울특별시송파구정의로 8길 9 AJ빌딩</p></div>
    <div class="container"><p class="m-0 text-center text-white">대표전화 1588-0053</p></div>
    <div class="container"><p class="m-0 text-center text-white">Copyright AJ Networks Corporation. All rights reserved.</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts_request.js"></script>
</body>
</html>
