<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <link rel="stylesheet" href="css/login.css">
    <script>
        window.onpageshow = function(event) {
          if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
          // Back Forward Cache로 브라우저가 로딩될 경우 혹은 브라우저 뒤로가기 했을 경우
            window.location.replace("/");
            }
        }
    </script>

    <title>login</title>
</head>
<body>
<div class="container">
    <div class="login-box">
        <form class="login" action="/login" method="POST">
            <div class="form-group">
                <input type="text" placeholder="이메일 주소 또는 전화번호" id="username" name="username" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" placeholder="비밀번호" id="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="rememberme">
                    <input type="checkbox" name="rememberme" id="rememberme">
                    로그인 정보 저장
                </label>
            </div>
            <div class="form-group">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button class="full-btn" type="submit">로그인</button>
            </div>
            <div class="form-group">
                <p>아직 회원이 아니신가요? <a href="/signup">회원가입</a></p>
            </div>
        </form>
    </div>
</div>


</body>
</html>