<!DOCTYPE html>
<html lang="en"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>발주 발행</title>
    <script type="text/javascript">
        <!-- 파렛트 상품 리스트 -->
        var itemAry = [];

        <!-- 해당 파렛트 장바구니 담기     -->
        function getCart(event){
            let type = event.target.value;
            var doc_type = document.getElementById(type);
            var cart_number = document.getElementById("cart_number");
            itemAry.push(type);

            doc_type.style = 'display : none;'
            doc_type = document.getElementById(type + 1);
            doc_type.style = 'display : visibility;'
            cart_number.innerText = "장바구니에 "+ itemAry.length +"개가 담겨 있습니다."

            var tem = document.getElementById("tem");
            tem.innerHTML = "<INPUT TYPE='text 'style='display : none;' ID='select_pallet' NAME='select_pallet' VALUE = '" + itemAry.toString() + "'>"
            console.log(itemAry)
        }
        <!-- 해당 파렛트 장바구니 담기 취소 -->
        function delCart(event){
            let type = event.target.value;
            var doc_type_del = document.getElementById(type);
            itemAry.splice(itemAry.indexOf(type.substr(0, 3)),1);

            doc_type_del.style = 'display : none;'
            console.log(type.substr(0, 4))
            doc_type_in = document.getElementById(type.substr(0, 4));
            doc_type_in.style = 'display : visibility;'

            var cart_number = document.getElementById("cart_number");
            cart_number.innerText = "장바구니에 "+ itemAry.length +"개가 담겨 있습니다."

            var tem = document.getElementById("tem");
            tem.innerHTML = "<INPUT TYPE='text' style='display : none;' ID='select_pallet' NAME='select_pallet' VALUE = '" + itemAry.toString() + "'>"
        }
    </script>

    <style>
        .li_productlist{
            float: left;
        }
    </style>

</head>
<body>
<div><a>발주 발행 페이지</a></div>
<div><button type="submit" form = "requestSend">견적서 요청</button></div>
<form action="/request_detail" method="post" id="requestSend" name="requestSend">
    <a id="tem"></a>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
<div id="cart_number">장바구니에 0개가 담겨 있습니다.</div>
<div class="area_productlist">
    <ul role="list" class="ul_productlist w-list-unstyled" id="product_list" th:each="palletItem , index: ${palletItem_list}">
        <li class="li_productlist" data-sub1="56" data-sub2="0" data-sub3="0" data-filter="">
                <a class="block_productlistimg w-inline-block"><img th:src="${palletItem.img_uri}" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, 23vw"  alt="" class="img_productlistthumb"></a>
            <div class="block_productlisttext">

                    <div class="block_productlisttext01">
                        <div class="text_productlist01">표준형</div>
                        <div class="text_productlist02" th:text="${palletItem.standard}">11A형</div>
                    </div>
                    <div class="block_productlisttext02">
                        <div class="row_productlist w-clearfix">
                            <div class="text_productlist03">규격</div>
                            <div class="text_productlist04" th:text="${palletItem.size}">1,100mm X 1,100mm X 150mm</div>
                        </div>
                        <div class="row_productlist w-clearfix">
                            <div class="text_productlist03">중량</div>
                            <div class="text_productlist04" th:text="${palletItem.weight}">19.5kg</div>
                        </div>
                        <div class="row_productlist w-clearfix">
                            <div class="text_productlist03">원료</div>
                            <div class="text_productlist04" th:text="${palletItem.material}">HDPE</div>
                        </div>
                        <div class="row_productlist w-clearfix">
                            <div class="text_productlist03">특이사항</div>
                            <div class="text_productlist04" th:text="${palletItem.uniqueness}">적재하중 1Ton/4방 차입형 편면 사용형</div>
                        </div>
                    </div>

            </div>
            <button onclick="getCart(event)" th:value="${palletItem.front_type}" th:id = "${palletItem.front_type}" class="button_addcart w-button">제품담기</button>
            <button onclick="delCart(event)" style='display : none;' th:value="${palletItem.front_type}+1" th:id="${palletItem.front_type}+1" class="button_addcart w-button">담기취소</button>
        </li>
    </ul>
</div>


</body>
</html>