<!DOCTYPE html>
<html lang="en"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AI 예측 페이지</title>
</head>
    <body>
        <a>AI 예측 페이지</a>
        <div>데이터 입력</div>
        <form action="/prdicRequest_send" method="post" id="requestSend" name="requestSend">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div><input>매출액</input></div>
            <div><input>생산기간</input></div>
            <div><input>수요 파렛트 갯수</input></div>
            <div><input>가격</input></div>
            <div><input>날씨</input></div>
            <div><input>이벤트</input></div>
            <div><input>계절성 주기</input></div>
        </form>
        <div><button type="submit" form = "requestSend">AI분석 요청</button></div>
    </body>
</html>